{
  "presets": [
    ["next/babel", {
      "preset-typescript": {
        "allowDeclareFields": true
      }
    }]
  ],
  "plugins": [
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    ["@babel/plugin-transform-class-properties", { "loose": true }],
    ["@babel/plugin-transform-private-methods", { "loose": true }],
    ["@babel/plugin-transform-private-property-in-object", { "loose": true }],
    ["@babel/plugin-transform-runtime", { "regenerator": true }],
    ["babel-plugin-transform-typescript-metadata"]
  ]
}